.container {
  position: relative;
  z-index: 1;
  z-index: 998;
}

.btn {
  z-index: 998;
  font-family: var(--PPNeueMontrealBold);
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 500;
  white-space: nowrap;
  border-radius: 50px;
  user-select: none;
  display: inline-block;
  padding: 1rem 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: relative;
  z-index: 1;
  width: 100%;
  transition: all 0.2s ease-in;
}

.primary {
  color: var(--tan);
  background-color: var(--blue);
  border: 1px solid var(--blue);
  transition: all 0.3s ease-in;
}

.primary:hover {
  background-color: var(--tan);
  color: var(--blue);
}

.nav {
  border-radius: 8px;
  line-height: 1;
  padding: 1.3rem 4rem;
  font-weight: 600;
  color: var(--tan);
  border-radius: 50px;
  backdrop-filter: blur(50px);
  border: 2px solid var(--tan);
  font-size: 1.6rem;
}

.nav:hover {
  background-color: var(--tan);
  color: var(--black);
}

.black {
  color: var(--tan);
  background-color: var(--black);
  border: 1px solid var(--black);
  transition: all 0.3s ease-in;
}

.black:hover {
  background-color: var(--tan);
  color: var(--black);
}

.red {
  color: var(--tan);
  background-color: var(--red);
  border: 1px solid var(--red);
  transition: all 0.3s ease-in;
}

.red:hover {
  background-color: transparent;
  color: var(--red);
}
