.container {
  background-color: var(--darkGray);
}

.top {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 2rem;
}

.heading {
  color: var(--tan);
  text-align: right;
}

.copy {
  color: var(--tan);
  width: 60%;
  text-align: right;
}

.bottom {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
  height: 100%;
  padding: 3rem;
  background-color: var(--tan);
  border-radius: 15px;
}

.cardTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 3rem;
}

.icon {
  color: var(--black);
}

.card:nth-child(3) {
  background-color: var(--red);
}

.title {
  font-size: 3rem;
  text-align: center;
  letter-spacing: 0px;
}

.desc {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: var(--darkGray);
}

.card:nth-child(3) .title,
.card:nth-child(3) .desc {
  color: var(--white);
}

.card:nth-child(3) .img {
  border: 2px solid var(--white);
}

@media screen and (max-width: 1068px) {
  .copy {
    width: 80%;
  }

  .bottom {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 668px) {
  .top {
    align-items: center;
    justify-content: center;
  }

  .heading,
  .copy {
    text-align: center;
    width: 100%;
  }

  .bottom {
    grid-template-columns: repeat(1, 1fr);
  }

  .title {
    line-height: 1;
    font-family: var(--sofia);
    letter-spacing: -0.02em;
    font-size: 4.8rem;
  }

  .card {
    padding: 3rem 4rem;
  }
}
