.container {
  position: relative;
  z-index: 1;
  z-index: 998;
  cursor: pointer;
}

.btn {
  z-index: 998;
  font-family: var(--PPNeueMontrealBold);
  text-transform: uppercase;
  font-size: 1.6rem;
  white-space: nowrap;
  border-radius: 50px;
  user-select: none;
  display: inline-block;
  padding: 1rem 5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: relative;
  z-index: 1;
  width: 100%;
  transition: all 0.2s ease-in;
}

.red {
  color: var(--tan);
  background-color: var(--red);
  border: 1px solid var(--red);
}

.red:hover {
  background-color: var(--red2);
  border: 1px solid var(--red2);
}

.black {
  color: var(--tan);
  background-color: var(--black);
  border: 1px solid var(--black);
}

.black:hover {
  color: var(--black);
  background-color: transparent;
  border: 1px solid var(--black);
}
