.container {
  background-color: var(--lightgray);
}

.top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  gap: 2rem;
  border-bottom: 5px solid var(--black);
  padding-bottom: 2rem;
}

.topLeft,
.topRight {
  flex: 1;
}

.topBtnContainer {
  margin-top: 1rem;
}

.copy {
  color: var(--black);
  width: 40%;
  line-height: 1.2;
  font-size: 1.8rem;
}

.bottom {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.card {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  grid-gap: 1rem;
  padding: 1rem;
  border: 2px solid var(--red);
  border-radius: 15px;
  border-top-left-radius: 300px;
  border-bottom-left-radius: 300px;
}

.card:nth-child(even) {
  grid-template-columns: 2fr 1.5fr;
  border-top-right-radius: 300px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 300px;
  border-bottom-left-radius: 15px;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.img {
  object-fit: cover;
  border-radius: 15px;
  border-top-left-radius: 300px;
  border-bottom-left-radius: 300px;
}

.card:nth-child(even) .img {
  border-top-right-radius: 300px;
  border-bottom-right-radius: 300px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.cardRight {
  background-color: var(--tan);
  border-radius: 15px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 15rem;
  height: 100%;
}

.card:nth-child(even) .cardRight {
  order: -1;
}

.title {
  color: var(--red);
}

.desc {
  color: var(--red);
}

.btnContainer {
  margin-top: 2rem;
}

@media screen and (max-width: 1368px) {
  .copy {
    width: 70%;
  }
  
  .bottom {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 1068px) {
  .top {
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
  }

  .heading,
  .copy {
    text-align: center;
    width: 100%;
  }

  .card:nth-child(odd),
  .card:nth-child(even) {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 668px) {
  .card:nth-child(odd),
  .card:nth-child(even) {
    grid-template-columns: repeat(1, 1fr);
  }

  .imgContainer {
    height: 300px;
  }

  .card:nth-child(odd),
  .card:nth-child(even) {
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }

  .card:nth-child(even) .cardRight {
    order: 1;
  }

  .card:nth-child(even) .img,
  .card:nth-child(odd) .img {
    border-top-right-radius: 300px;
    border-top-left-radius: 300px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }

  .cardRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding-top: 3rem;
  }

  .desc {
    text-align: center;
  }

  .btnContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
}
