.container {
  background-color: var(--tan);
}

.SectionHeadingContainer {
  margin-top: -5rem;
  padding-bottom: 2rem;
}

.heading {
  color: var(--red);
  line-height: 0.9;
}

.span {
  font-family: var(--PPNeueMontrealMedium);
  color: var(--red);
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.starContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.1rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.star {
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  width: 30px;
  height: 30px;
  background-color: var(--red);
}

.bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  position: relative;
}

.ImgContainer {
  position: relative;
  width: 100%;
  height: 600px;
}

.bottomRight,
.bottomRight {
  z-index: 1;
}

.bottomRight {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 3rem;
}

.ImgContainer2,
.ImgContainer3 {
  position: relative;
  width: 100%;
  height: 100%;
}

.img {
  object-fit: cover;
  border-radius: 15px;
}

.BookingBtnContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.textContainer {
  margin-top: 3rem;
}

.textHeading {
  color: var(--red);
  font-size: 2.5rem;
  font-family: var(--PPNeueMontrealBold);
}

.textContainerBottom {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
}

.textContainerBottomLeft {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: 3rem;
}

.sectionHeading {
  display: block;
  font-size: 3rem;
  font-weight: 800;
  color: var(--red);
  white-space: nowrap;
}

.text {
  color: var(--red2);
}

@media screen and (max-width: 968px) {
  .textContainerBottom,
  .textContainerBottomLeft {
    grid-template-columns: repeat(1, 1fr);
  }

  .sectionHeading {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .bottom {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .ImgContainer,
  .ImgContainer2,
  .ImgContainer3 {
    height: 250px;
  }
}
