.heading {
  color: var(--red);
  font-size: 5rem;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 0.5rem;
  margin-block: 2rem;
  padding: var(--gap);
}
