.container {
    padding-top: 15rem;
}

.dataContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.heading {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: var(--red);
}

.dataContainer {
  margin: 5rem 10rem;

  border: 1px solid var(--red);
  border-radius: 10px;
}

.card {
  padding: 7rem 3rem;
  border-right: 1px solid var(--red);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.card:nth-child(4) {
  border-right: none;
}

.cardTop {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.icon {
  width: 3.5rem;
  height: 3.5rem;
  color: var(--red);
}

.title {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--red);
  text-align: center;
  width: 100%;
  text-transform: uppercase;
}

@media screen and (max-width: 1268px) {
  .dataContainer {
    margin: 5rem 0rem;
  }
}

@media screen and (max-width: 1068px) {
  .dataContainer {
    grid-template-columns: repeat(2, 1fr);
  }

  .card:nth-child(1) {
    border-bottom: 1px solid var(--red);
  }

  .card:nth-child(2) {
    border-right: none;
    border-bottom: 1px solid var(--red);
  }
}

@media screen and (max-width: 668px) {
  .dataContainer {
    grid-template-columns: repeat(1, 1fr);
  }

  .card {
    gap: 3rem;
  }

  .card:nth-child(3) {
    border-right: none;
    border-bottom: 1px solid var(--red);
  }

  .btnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
