.container {
  background-color: var(--tan);
}

.content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  /* margin-top: -30px; */
  /* border-bottom: 2px solid var(--red); */
  /* border-right: 2px solid var(--red); */
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 3rem;
  height: 100%;
  border: 2px solid var(--border);
  border-radius: 15px;
  padding: 1rem;
}

.cardTop {
  width: 100%;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 300px;
}

.img {
  object-fit: cover;
  border-radius: 10px;
}

.cardBottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}

.title {
  color: var(--red);
  margin-top: 1rem;
}

.arrowContainer {
  border: 2px solid var(--red);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.arrow {
  color: var(--red);
  width: 3rem;
  height: 3rem;
}

.infoBox {
  background-color: var(--white);
  border-radius: 15px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 3rem;
}

.info {
  font-size: 1.8rem;
  font-family: var(--PPNeueMontrealBold);
  color: var(--darkGray);
}

@media screen and (max-width: 1268px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 668px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }

  .imgContainer {
    height: 250px;
  }

  .btnContainer {
    display: grid;
    width: 100%;
  }
}
