.container {
  background-color: var(--tan);
}


.bottom {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.card {
  border: 1px solid var(--darkerTan);
  background-color: var(--darkTan);
  border-radius: 15px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 5rem;
}

.title,
.description {
  color: var(--black);
}

.title  {
  font-size: 2.5rem;
  letter-spacing: 0.2px;
}

@media screen and (max-width: 868px) {
  .bottom {
    margin-top: 3rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 668px) {
  .heading {
    text-align: center;
  }

  .bottom {
    grid-template-columns: repeat(1, 1fr);
  }

  .card {
    align-self: flex-start;
    position: -webkit-sticky;
    position: sticky;
    top: 90px;
  }
}
