.heading {
  font-family: var(--PPNeueMontrealBold);
  font-size: 3rem;
  text-transform: none;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 0.5rem;
  margin-block: 2rem;
  padding: var(--gap);
}
